<!-- Root tag of a hibernate configuration file. -->
<hibernate-configuration>

	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.url"></property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>
		<property name="show_sql">true</property>
		<!-- This determines how many connections a single user is allowed to your DB. -->
		<property name="hibernate.connection.pool_size">5</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="com.revature.models.User"/>
		<mapping class="com.revature.models.Friendship"></mapping>
		<!-- <mapping class="com.revature.model.MonsterCard"/>
		<mapping class="com.revature.model.CardClass"/>
		<mapping class="com.revature.model.Realm"/> -->
		
	</session-factory>
</hibernate-configuration>
